*.pyc
*.bak
*.zip
*.rar
*.7z
*.mp3
*.wav
*.sublime-workspace
.hg/
build/
*.hgignore
*.hgtags
*dist/
*.egg-info/
traceback.log
__pycache__/
*.log
*sublime*

# Added entries (1 items)
STRUCTURE*

# Added entries (1 items)
pyheaderparse.txt
# PT backup directory
.pt/

# Added entries (1 items)
docs2

# Added entries (1 items)
docs2/
